[core]
  pager = delta

[branch]
	autoSetupMerge = always

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  navigate = true    # use n and N to move between diff sections
  features = decorations

[merge]
  conflictstyle = zdiff3

[color]
  ui = true

[push]
  followTags = true

[filter "lfs"]

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
